@import url("https://fonts.googleapis.com/css2?family=Matemasie&family=Open+Sans:ital,wght@0,300..800;1,300..800&display=swap");
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: inherit;
  color: inherit;
}

.container {
  width: 100%;
  max-width: 3930px;
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
  margin: 0 auto;
  text-align: center;
  flex-direction: column;
  row-gap: 30px;
}
.container p {
  font-size: 16px;
  font-family: "Open Sans", sans-serif;
}
.container h1 {
  margin-top: 10px;
  margin-bottom: 20px;
  font-size: 38px;
}
.container img {
  max-width: 100%;
  height: auto;
  margin-top: 40px;
}
.container header h1 {
  margin-bottom: 50px;
}
.container .facebook-btn, .container .google-btn {
  background-color: white;
  width: 345px;
  border-radius: 40px;
  border: solid 2px lightgray;
  padding: 1rem;
  margin-bottom: 20px;
  height: 62px;
}
.container .container-with-facebook-google-btn {
  display: grid;
  justify-content: center;
}
.container .sign-btn {
  background-color: #4D861F;
  width: 345px;
  height: 62px;
  border-radius: 40px;
  border: solid 2px lightgray;
  padding: 1rem;
  margin-bottom: 20px;
  color: white;
  font-size: 1rem;
  box-shadow: 0 2px 10px rgba(77, 134, 31, 0.574);
  margin-bottom: 30px;
}
.container .or {
  padding: 0.75em;
}
.container .line {
  width: 300px;
  margin: 2em auto;
  border-bottom: 1px solid #404040;
  line-height: 0.1em;
}
.container .or span {
  background: white;
  padding: 10px;
  color: #575757;
}

.sign-in-box a {
  color: #4D861F;
  text-decoration: none;
}

p {
  font-size: 16px;
}

.container-with-switch {
  display: flex;
  flex-direction: column;
  gap: 15px;
  width: 100%;
  max-width: 393px;
}

.headline-with-pic h1 {
  color: #4D861F;
  font-size: 32px;
  margin-top: 25px;
}

.headline-with-pic h2 {
  color: #404040;
  font-size: 20px;
  margin-top: 10px;
}

.sections-with-switch {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 10px 0;
  border-bottom: 1px solid #ccc;
  height: 72px;
}

.sections-with-switch:first-child {
  border-top: 1px solid #ccc;
}

.section-info {
  display: flex;
  align-items: center;
  gap: 10px;
}

.section-info img {
  width: 18px;
  height: 26px;
  margin: 0 auto;
}

.section-info p {
  font-size: 16px;
  font-weight: bold;
  margin: 0;
}

.switch-container {
  display: flex;
  align-items: center;
}

.switch {
  position: relative;
  display: inline-block;
  width: 58px;
  height: 32px;
}

.switch input {
  display: none;
}

.switch .slider {
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: #ccc;
  border-radius: 34px;
  cursor: pointer;
  transition: 0.4s;
}

.switch .slider:before {
  position: absolute;
  content: "";
  height: 28px;
  width: 28px;
  left: 2px;
  bottom: 3px;
  background-color: #FFFFFF;
  border-radius: 50%;
  transition: 0.4s;
}

.switch input:checked + .slider {
  background-color: #4D861F;
}

.switch input:checked + .slider:before {
  transform: translateX(25px);
}

.footer {
  text-align: center;
  margin-top: 20px;
}

.dark-mode-btn {
  background-color: #ffffff;
  border: solid 1.5px;
  color: #4D861F;
  padding: 10px 15px;
  border-radius: 40px;
  cursor: pointer;
  width: 345px;
  height: 62px;
  font-size: 18px;
}

.footer p {
  margin-top: 10px;
  font-size: 12px;
  color: #D9D9D9;
}

nav {
  height: 90px;
  width: 393px;
  display: flex;
  margin: 0 auto;
  gap: 50px;
  align-items: center;
  justify-content: center;
  box-shadow: 0 -20px 20px rgba(0, 0, 0, 0.066);
}/*# sourceMappingURL=style.css.map */