// Primary colors
$primary-color-white: #FFFFFF;
$primary-color-black: #222222;

// Secondary colors
$secondary-color-cactus: #46781B;
$secondary-color-softRed: #FF5D5D;
// Typography colors
$typography-color-white: #FFFFFF;
$typography-color-onyx: #404040;
$typography-color-cactus: #4D861F;
$typography-color-lightGrey: #D9D9D9;
