@use '../placeholders/variables.scss';
.search{
    width: 100%;
    text-align: center;
    margin-bottom: 1.5rem;
    &__input{
        width: 80%;
        height: 3rem;
        font-size: 1rem;
        background-color: variables.$secondary-color-lightGrey;
        border: none;
        opacity: 40%;
        padding: 0 1rem;
        border-radius: 4px;
    }
}