@use 'layout';
@use 'mixins';


// variables
$base-color: #ffffff;
$primary-color: #4d861f;
$delete-color: #ff5d5d;
$theme-color: #1f1f1f;
$text-color: #404040;
$indicator-color: #C5C5C5;
$searchbar-color: #D9D9D9;

// header
.header__home{
    margin-top: 2rem;
}
.header__logo{
    display: flex;
    gap: 1rem;
    justify-content: center;
}

.header__image{
    width: 19px;
    height: 27px;
}

.header__title{
    font-family: 'Playfair display';
    font-weight: bolder;
    font-size: 24px;
}

.header__search-bar{
    display: flex;
    justify-content: center;
}

.search__bar{
    margin-top: 2rem;
    width: 345px;
    height: 46px;
    border-style: none;
    border-radius: 4px;
    background-color: #d9d9d945;
    outline: none;
}

input::placeholder{
    font-family: 'Open sans';
    font-size: 14px;
}

