%basic-reset{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: inherit;
}

%font-reset{
    font-family: 'Playfair Display', 'sans-serif';

    p, button, small {
        font-family: 'Open Sans', 'sans-serif';
    }
}

%lineheight-reset{
    margin-top: 1lh;
}

